<div class="container-fluid">
    <div class="row">

        <div class="col-md-2">
            <!-- Navigation pane to see the world -->
            <div class="row">
                <input id="planets-view-toggle" class="btn btn-link" type="button" value="Navigation"> 
                <input id="ships-view-toggle" class="btn btn-link" type="button" value="Pilots">
            </div>

            <div id="planets-view">
                <div class="img-polaroid" id="current-planet-image"></div>
                <p>Population: <span id="population"></span></p>
                <p>Habitability: <span id="habitability"></span></p>
                <p>Race: <span id="race"></span></p>
                <!-- <p><span id="Population"></span></p>
                <p><span id="Population"></span></p> -->

                <input id="previous-planet" class="btn btn-link" type="button" value="Next"> 
                <input id="next-planet" class="btn btn-link" type="button" value="Previous">
            </div>

            <div id="ships-view">

                <input id="previous-ship" class="btn btn-link" type="button" value="Next"> 
                <input id="next-ship" class="btn btn-link" type="button" value="Previous">
            </div>

            <div id="player-status-view">
                <!-- <p>HP: <span id="playerHP"> </span></p>
                <p>Shield: <span id="playerShield"> </span></p>
                <p>Power: <span id="playerPower"> </span></p>
                <p>Engine: <span id="playerEngine"> </span></p>
                <p>Weapon: <span id="playerWeapon"> </span></p> -->
            </div>

        </div>


        <div class="col-md-10">
            <div id="status">
                <p>Phase: <span id="phaseLabel">not-connected</span></p>
                <p>Status: <span id="statusLabel">not-ready</span></p>

                <br />
                <p>Hello: <span id="usernameLabel">username</span></p>        
            </div>

            <div id="preGameDiv">
                <div id="step-1">
                    <p>enter username</p>
                    <input type="text" class="form-control" id="usernameField" name="username" autofocus>
                </div>
                <div id="step-2">
                    <p>select race</p>
                    <!-- <img src="..." class="img-polaroid">
                    <img src="..." class="img-polaroid">
                    <img src="..." class="img-polaroid">
                    <img src="..." class="img-polaroid"> -->
                    <div class="img-polaroid" id="t-race-selector">Terran</div>
                    <div class="img-polaroid" id="d-race-selector">Drengin</div>
                    <div class="img-polaroid" id="a-race-selector">Arcanine</div>
                    <div class="img-polaroid" id="p-race-selector">Pirate</div>
                </div>
                <div id="step-3">
                    <p>select ship</p>
                    <div id="scout-ship-selector">Scout Ship</div>
                    <div id="another-ship-selector">Another Ship</div>
                </div>
                
                <div class="span4 offset4">
                    <input id="back-step-button" class="btn btn-link" type="button" value="Previous Step">
                    <input id="next-step-button" class="btn btn-primary" type="button" value="Next Step">
                    <input id="start-game-button" class="btn btn-inverse" type="button" value="Confirm Everything">
                </div>
            </div>

            <div id="gameView">
                <canvas id="canvas" width="960" height="540">
                </canvas>

                <div id="orbit-menu">
                    <!-- <div class="orbit-tile"></div> -->
                </div>
                <div id="upgrades-menu">
                    <!-- maybe have tabs for ship parts, weapons parts, misc parts -->
                    <!-- finish one upgrade now, the rest can be implemented l8r -->
                    <!-- show minimal ship requirements (stuff the ship cant operate without) -->
                    <!-- <div class="upgrade-tile" id="shield-upgrades"></div>
                    <div class="upgrade-tile" id="power-upgrades"></div>
                    <div class="upgrade-tile" id="engine-upgrades"></div> -->

                    <!--  -->
                    <!-- <div class="upgrade-tile" id="armor-upgrades"></div> -->

                    <!-- add a new component to the ship -->
                    <!-- <div class="upgrade-tile" id="add-new-component"></div> -->

                    <!-- requirements tab will show how much credits, rank, capactiy difference needed to upgrade the current module -->
                    <!-- <div id="requirements-tab"></div> -->
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/javascripts/head.min.js"></script>
        <script type="text/javascript" src="/javascripts/loader.js"></script>
       
    </div>
</div>