<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mahmoud Ben Hassine">
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css" />
    <link rel='stylesheet' href="/stylesheets/font-awesome.min.css" />
    <link rel='stylesheet' href="/stylesheets/chesshub.css" />
    <link rel='stylesheet' href="/stylesheets/chessboard-0.3.0.min.css" />
    <link rel='stylesheet' href="/stylesheets/messenger.css" />
    <link rel='stylesheet' href="/stylesheets/messenger-spinner.css" />
    <link rel='stylesheet' href="/stylesheets/messenger-theme-future.css" />
    <link rel="stylesheet" href="/stylesheets/game/game.css" type="text/css" />
</head>
<body>

<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="{{#if isHomePage}} active {{/if}}"><a href="/" title="Go to home page"><i class="fa fa-home"></i> Home</a></li>
            <li class="{{#if isPlayPage}} active {{/if}}"><a href="/play" title="Create a new game"><i class="fa fa-gamepad"></i> Play</a></li>
            <li class="{{#if isTvPage}} active {{/if}}"><a href="/tv" title="Watch live games"><i class="fa fa-eye"></i> Tv</a></li>
            <li class="{{#if isSearchPage}} active {{/if}}"><a href="/search" title="Search a game"><i class="fa fa-search"></i> Search</a></li>
            {{#if user}}
            <li class="{{#if isAccountPage}} active {{/if}}"><a href="/account" title="My account"><span id="loggedUser" data-user="{{ user.name }}"></span><i class="fa fa-user"></i> {{ user.name }}</a></li>
            <li><a href="/logout" title="Sign out"><i class="fa fa-sign-out"></i></a></li>
            {{else}}
            <li class="{{#if isLoginPage}} active {{/if}}"><a href="/login"><i class="fa fa-sign-in"></i> Sign in</a></li>
            {{/if}}

        </ul>
        <h3><i class="fa fa-group"></i> Chess Hub</h3>
    </div>

    <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/javascripts/moment.min.js"></script>
    <script type="text/javascript" src="/javascripts/messenger.min.js"></script>
    <script type="text/javascript" src="/javascripts/messenger-theme-future.js"></script>
    <script type="text/javascript" src="/javascripts/highcharts.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</div>


<div class="content">
        {{{body}}}
</div>

<div class="container">
    <div class="footer">
        <p>&copy; SStellar 2014, <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by
            <a target="_blank" href="http://www.mahmoud-benhassine.fr">Mahmoud Ben Hassine</a></p>
        <p><a href="/monitor"><i class="fa fa-dashboard"></i> service status</a></p>
    </div>

</div> <!-- /container -->

</body>
</html>
